<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <add key="DouDotNet" value="http://jobs.dou.ua/vacancies/feeds/?category=.NET" />
    <add key="DouJava" value="http://jobs.dou.ua/vacancies/feeds/?category=Java" />
    <add key="DouScala" value="http://jobs.dou.ua/vacancies/feeds/?category=Scala" />

    <add key="RecurrencyIntervalInMinutes" value="120" />
  </appSettings>
  
</configuration>
