<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <add key="http://jobs.dou.ua/vacancies/feeds/?category=.NET" value="F#, functional programming, monad, haskell, scala, clojure, cqrs, ddd, domain driven, reactive, event sourcing, actor, akka, akka.net, orleans"/>
    <add key="http://jobs.dou.ua/vacancies/feeds/?category=Java" value="F#, functional programming, monad, haskell, scala, clojure, cqrs, ddd, domain driven, reactive, event sourcing, actor, akka, akka.net, orleans"/>
    <add key="http://jobs.dou.ua/vacancies/feeds/?category=Scala" value=""/>

    <add key="SlackHookUrl" value="https://hooks.slack.com/services/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"/>
    <add key="SlackHookName" value="functional-works"/>
    <add key="SlackHookEmoji" value=":curly_loop:"/>
    <add key="KeywordColor" value="#36a64f"/>
    
  </appSettings>
</configuration>
